./data
/data
data

./data/
/data/
data/

./out
/out
out

./out/
/out/
out/

./.ipynb_checkpoints
/.ipynb_checkpoints
.ipynb_checkpoints

./.ipynb_checkpoints/
/.ipynb_checkpoints/
.ipynb_checkpoints/
