./data
/data
data

./data/
/data/
data/

./out
/out
out

./out/
/out/
out/

./.ipynb_checkpoints
/.ipynb_checkpoints
.ipynb_checkpoints

./.ipynb_checkpoints/
/.ipynb_checkpoints/
.ipynb_checkpoints/

./.idea
/.idea
.idea

./.idea/
/.idea/
.idea/

./dataset
/dataset
dataset

./dataset/
/dataset/
dataset/